body{
    background-color: aquamarine;
    align-items: center;
}
#container{
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
    border: 1px solid black;
    border-radius: 10px;
    width: 240px;
    justify-content: center;
    align-items: center;
    margin-left: 45%;
    flex-wrap: wrap;
}
.heading{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center; 
    font-size: 60px;
    color: blueviolet;
    margin-left: 170px;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
#display{
    width: 190px;
    height: 50px;
    margin: 10px;
    border-radius: 5px;
    font-size: 20px;
}
.bottom{
    margin-left: 8px;
}
div > button{
    align-content: center;
    height: 50px;
    width: 50px;
    padding: 5px;
    margin: 5px;
    border-color: black;
    border-radius: 5PX; 
    background-color: blue;
    color: white;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
}
div>button:hover{
    
    background-color: rgb(21, 21, 156);
}
#buttons{
    border-radius: 5px;
    border-color: black;
}